html {
  scroll-behavior: smooth;
}

.App {
  text-align: center;
  font-family: "Exo, sans-serif";
}

.landing-header-text-div {
  color: #FCEFF9;
  text-align: left;
  margin: 100px 1rem;
}
.landing-header-text {
  font-size: 96px;
  margin: 36px 0;
}
.landing-header-text-sm {
  font-size: 24px;
}
.btn-fake-link:hover {
  cursor: pointer;
  text-decoration: underline;
}

.about-section {
  margin: 0 auto;
  width: 700px;
  color: #F7FFF7;
}
.about-section-flex {
  display: flex;
  flex-direction: row;
  max-width: 800px;
  margin: 0 auto;
}

.previous-work-section {
  width: 500px;
  margin: auto auto;
}

.container {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

.relative-position {
  overflow: hidden;
  position: relative;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-content: center;
}

.link {
  color: "#C1EBF1";
  text-decoration: none;
}


@media screen and (max-width: 900px) {
  .landing-header-text {
    font-size: 72px;
    margin: 36px 0;
  }
  .landing-header-text-sm {
    font-size: 20px;
  }
}
@media screen and (max-width: 800px) {
  .landing-header-text {
    font-size: 52px;
    margin: 36px 0;
  }
  .landing-header-text-sm {
    font-size: 16px;
  }
  .about-section {
    width: 500px;
  }
  .about-section-flex {
    flex-direction: column-reverse;
  }
}
@media screen and (max-width: 600px) {
  .landing-header-text {
    font-size: 42px;
    margin: 36px 0;
  }
  .landing-header-text-sm {
    font-size: 16px;
  }
  .about-section {
    width: 100%;
  }
  .previous-work-section {
    width: 100%;
  }
}
