.App {
  text-align: center;
  font-family: "Exo, sans-serif";
}

.landing-header-text-div {
  color: #FCEFF9;
  text-align: left;
  margin-top: 100px;
  margin-left: 50px;
}
.landing-header-text {
  font-size: 96px;
  margin: 36px 0;
}
.btn-fake-link:hover {
  cursor: pointer;
  text-decoration: underline;
}
